<template>

 <div class="main">
    <p id="logo"><i class="fa fa-music"></i>LIN music</p>
    <input type="text" class="form-control" id="search" value="" placeholder="search">
    <button id="upload">UPLOAD MUSIC</button>
    <button  id="create">CREATE PLAYLIST</button>
    <button  id="play1">PLAYLIST 1</button>
    <button  id="play2">PLAYLIST 2</button>
    <button  id="play3">PLAYLIST 3</button>

     <div class="right">
       <div class="song_detail">
           <p id="allsong">All songs</p>
            <table>
              <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
              </tr>
              <tr>
                <td>Magasin</td>
                <td>Eraserheads</td>
               <td>Circus</td>
               <td>4:10</td>
             </tr>
             <tr>
                <td>Still</td>
               <td>Cueshé</td>
               <td>Life</td>
               <td>3:48</td>
              </tr>
              <tr>
                <td>Walk Away</td>
               <td>Sponge Cola</td>
              <td>Ultrablessed</td>
             <td>2:13</td>
            </tr>
           </table>




        <div class="duration">
           <input type="range" min="0" max="100" value="0" id="duration_slider">
           
       </div>
        </div>


      <div class="middle">
           <button  id="pre"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
           <button  id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
           <button  id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
       </div>
    </div>
    


  </div>

</template>

<script>

</script>

<style>
*{
	margin: 0;
	padding: 0;
	font-family: cursive;
}
body{
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: rgba(0,0,0,0.5);
}
.main{
	position: relative;
	min-height: 80vh;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #5D88FB;
	border-radius: 8px;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	inset -5px -5px 15px rgba(255,255,255,0.1),
	5px 5px 15px rgba(0,0,0,0.3),
	-5px -5px 15px rgba(255,255,255,0.1);
}
.main button{

	margin: 0 10px;
}
.main #logo{
	position: absolute;
	top: 25px;
	left: 30px;
	font-size: 25px;
	color: black
}
.main #upload{
	position: absolute;
	top: 100px;
	left: 10px;
	font-size: 10px

}

.main #create{
	position: absolute;
	top: 120px;
	left: 10px;
	font-size: 10px
}
.main #play1{
	position: absolute;
	top: 170px;
	left: 10px;
	font-size: 10px
}
.main #play2{
	position: absolute;
	top: 190px;
	left: 10px;
	font-size: 10px
}

.main #play3{
	position: absolute;
	top: 210px;
	left: 10px;
	font-size: 10px
}


.main #search{
	position: absolute;
	width: 20%;
	top: 30px;
	left: 250px;
	font-size: 15px;
	color: #ccc;
}

.main #logo i{
	margin-right: 15px;
}


.left{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}




input[type="range"] {
	-webkit-appearance: none;
	width: 50%;
	outline: none;
	height: 10px;
	margin: 0 15px;
	overflow: hidden;
	border-radius: 10px;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 10px;
	width: 10px;
	background: #148F77;
	cursor: pointer;
	box-shadow: -415px 0 0 400px #148F77;
}
table {
  margin-top: 50px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.right input[type=range]{
	width: 11110%;
}




.right{
	width: 80%;
	padding: 10px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
 .right .middle{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.right .middle button{
	border: none;
	height: 50px;
	width: 50px;
	border-radius: 90%;
	bottom: 3em;
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	background: #232427;
	box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
	inset -5px -5px 15px rgba(255,255,255,0.1),
	5px 5px 15px rgba(0,0,0,0.3),
	-5px -5px 10px rgba(255,255,255,0.1);
}
.song_detail{
	position: relative;
	width: 80;
	overflow: hidden;
	margin-bottom: 6.5em;

}

.song_detail #allsong{
	text-transform: capitalize;
	color: #fff;
	font-size: 35px;
	margin-top: 50px;
}

.right .duration{
	margin-top: 3em;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;

}
.duration input[type="range"] {
	flex: 1;
}
#play{
	background: #148F77;
	top: 1000px;
}
.right button:hover{
	background: #148F77;
}
.right i:before{
	color: #fff;
	font-size: 20px;
}



@media(max-width: 700px){
	.main{
		min-height: 100vh;
		width: 100%;
		flex-direction: column;
	}
	table{
		width: 80;
	}
	.song_detail{
		width: 80%;
	}
	.right .duration{
        width: 80%;
	}
	.left{
	margin-top: 5em;
	width: 60%;
	}


}



</style>
